

       {{>header}}

   
       {{!--hero section strat--}}
<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
         <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
             <h1>LTS HELPS YOU TO</h1>
            <h1>GROW YOUR BUSSINES</h1>'
             <P>We Have A Best..! <span class="bold-style">Developer Team 👨‍💻</span> </P>
             <button class="btn-style btn-primary">read more</button>
            </div>
            {{!--right site--}}
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                <figure>
                     <img src="images/growth.png" alt="herosection_image" style=" width: -webkit-fill-available;">
                </figure>
            
            </div>
         </div>
        </div>
    </div>
</div>
     {{!--hero section end--}}

     
       {{!--hero about us star--}}
<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center sub-heading">grow your bussiness with TLS 📈</p>
         <div class="row">
            {{!--left part--}}
              <div class="col-md-6 col-12 hero-text  ">
                <figure>
                     <img src="images/about.svg" alt="about_image" >
                </figure>
            </div>
            {{!--right site--}}
               <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
             <h1>LANDE TECHNICAL SERVICES LTS ✌️</h1>
             <P>The <span class="bold-style">LTS LANDE TECHNICAL SERVICES </span>Provide You A 
                Multiple Services... We're Dedicated To Giving You To Very Beat Of Work,With A Focus On Three
                Category [ Dependability. Unicness And Customer Services ] </P>
             <button class="btn-style btn-primary">read more</button>
            </div>
          
         </div>
        </div>
    </div>
</div>
     {{!--hero about us end--}}

         {{!--hero servises end--}}
         {{>servises}}
         {{!--hero servises end--}}

         {{!--google map--}}
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7454.145779395432!2d77.74636302355759!3d20.909386944252468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd6a4ca23f5fd8d%3A0x6d4210f48d7860ab!2sNavathe%20Nagar%2C%20Amravati%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1676493129737!5m2!1sen!2sin"
          width="100%" height="450" style="border:0;" allowfullscreen="" 
          loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          {{!--google map--}}

          
         {{!--hero servises end--}}
         {{>contact}}
         {{!--hero servises end--}}
         
            {{!--bottom--}}
            <div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="col-md-10 col-12 mx-auto bottom">
           <i class="social-icon fa-brands fa-facebook"></i>
           <a href="https://www.instagram.com/_vaibhav_lande_/"><i class="social-icon fa-brands fa-instagram"></i></a>
          <i class="social-icon fa-brands fa-twitter"></i>
          <i class="social-icon fa-solid fa-envelope"></i>
              <p>© Copyright TinDog</p>
        </div>
            </div>
        
         {{!--bottom--}}


</body>
</html>