{{!--services page code--}}

<div class="container-fluid mt-5 about-style " id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">grow your bussiness with LTS 📈</p>
         <div class="row">
              <div class="col-md-4">
                <div class="box">
                  <div class="our-services webDev">
                     <div class="icon">
                        <img src="images/web.webp" alt="webdevelopment"  class="s_img">
                     </div>
                     <h4>Web_development</h4>
                     <p>grow your bussiness with TLS grow your bussiness with TLS</p>
                  </div>
                </div>
              </div>  
                  <div class="col-md-4">
                <div class="box">
                  <div class="our-services wedding">
                     <div class="icon">
                        <img src="images/wedding.jpeg" alt="wedding" class="s_img" >
                     </div>
                     <h4>wedding_photography</h4>
                     <p>grow your bussiness with TLS grow your bussiness with TLS</p>
                  </div>
                </div>
              </div>  
                  <div class="col-md-4">
                <div class="box">
                  <div class="our-services lic">
                     <div class="icon">
                        <img src="images/lic.jpg" alt="lic" class="s_img" >
                     </div>
                     <h4>LIC_insurance</h4>
                     <p>grow your bussiness with TLS grow your bussiness with TLS</p>
                  </div>
                </div>
              </div>  
                  <div class="col-md-4">
                <div class="box">
                  <div class="our-services editing">
                     <div class="icon">
                        <img src="images/eding.png" alt="editing" class="s_img" >
                     </div>
                     <h4> Editing</h4>
                     <p>grow your bussiness with TLS grow your bussiness with TLS</p>
                  </div>
                </div>
              </div>  
                  <div class="col-md-4">
                <div class="box">
                  <div class="our-services bank">
                     <div class="icon">
                        <img src="images/bank.jpeg" alt="bank" class="s_img" >
                     </div>
                     <h4>Bank Account</h4>
                     <p>grow your bussiness with TLS grow your bussiness with TLS</p>
                  </div>
                </div>
              </div>  
                  <div class="col-md-4">
                <div class="box">
                  <div class="our-services dmate">
                     <div class="icon">
                        <img src="images/dmate.jpeg" alt="dmate" class="s_img" >
                     </div>
                     <h4>Dmate Account</h4>
                     <p>grow your bussiness with TLS grow your bussiness with TLS</p>
                  </div>
                </div>
              </div>  
         </div>
        </div>
    </div>
</div>